.carousel-item{
    height: 550px;
}

/* table css */
.tr1{
    background-color: #C5D7F2;
}
.tr2{
    background-color: #E2E3E5;
}
.tr3{
    background-color: #C7DBD2;
}
.tr4{
    background-color: #F8D7DA;
}
.tr5{
    background-color: #F2E7C3;
}
.tr6{
    background-color: #CFF4FC;
}
.tr7{
    background-color: #CFF4FC;
}
.tr8{
    background-color: #C7DBD2;
}
.tableform{
    background-color: #F8F9FA;
}


.rong{
    background-color: #F8F9FA;
}